body {
    background: rgb(228, 238, 243);
}

/* footer */

.bg-footer {
    background-color: #33383c;
    padding: 50px 0 30px;
}

a{
    text-decoration: none;
}
.footer-heading {
    letter-spacing: 2px;
}
 
.footer-link a {
    color: #acacac;
    line-height: 40px;
    font-size: 14px;
    transition: all 0.5s;
}
 
.footer-link a:hover {
    color: #1bbc9b;
}
 
.contact-info {
    color: #acacac;
    font-size: 14px;
}
 
.footer-social-icon {
    font-size: 15px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
}
 
.coding:hover{
    color: #1bbc9b !important;
}
 
.footer-alt {
    color: #acacac;
}
 
.footer-heading {
    position: relative;
    padding-bottom: 12px;
}
 
.footer-heading:after {
    content: '';
    width: 25px;
    border-bottom: 1px solid #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    border-bottom: 1px solid #1bbc9b;
}

/* footer end */

.mediaQueryImage {
    margin-top: 10px;
    margin-bottom: 10px; 
}


::-webkit-scrollbar {
    display: none;
}

.thatsBrandName {
    font-family: "Audiowide", sans-serif;
}

.NavbarInnerUl {
    font-family: "Trirong", serif;
}

.myCardImage {
    width: 100%;
    min-height: 250px;
    max-height: 250px;
}

.changeColor {
    background-color: rgb(118, 242, 242);
    opacity: 0.9;
}

.changeColorButton {
    background-color: rgb(193, 241, 144);
}

.changeColorButtondiffrent {
    background-color: #6fe85c;
    opacity: 0.9;
}

.korimen {
    display: flex;
    justify-content: space-between;
    position: relative;
}


.makingRoundedIcon {
    height: 200px;
    width: 200px;
    border-radius: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.makeAround {
    display: flex;
    justify-content: space-around;
}

.xcv {
    outline: 1px solid rgb(123, 120, 120);

}


.manageSpaceContainer {
    height: 500px;
}

.sweCollorBlck {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
}

.sweCollorBlck:hover {
    color: chocolate;
    border-bottom: 1px solid chocolate;
}

.addImageTamplateInBg {
    background-image: url(../Assets/other/backgroundPerfumeBannerImage.jpeg);
    height: 250px;
    background-size: cover;
    background-position: inherit;
    background-repeat: no-repeat;
}

.CreateFontsizeWithColor {
    font-size: x-large;
    color: chocolate;
    font-weight: 500;
}

.myChange {
    border: none;
}

.myChange:hover {
    background: #000;
    color: white;
}

.flex-end-classes {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.relPos {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

.CartSetting {
    border: 1px solid white;
    position: absolute;
    top: -2px;
    right: 3px;
    color: white;
    height: 20px;
    width: 20px;
    background: red;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.underbase {
    position: absolute;
    left: 0;
}

.madeUpCartHeight {
    min-height: 200px;
    max-height: 200px;
}

.AlignCneter {
    display: flex;
    align-items: center;
}

.setImageAtCart {
    min-height: 150px;
    max-width: 150px;
}

.InCartInnerItem {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.titleFlex {
    height: 150px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.BtnFlex {
    height: 150px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.stringing {
    display: flex;
    align-items: center;
    justify-content: center;
}

.innerBtnCss {
    display: flex;
    justify-content: center;
}

.span {
    display: inline-block;
}

.flexContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clrCss {
    color: #000;
}

.centerStarmedia {
    width: 70%;
}

.forFlexColumndir {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.takeWidth {
    width: 100%;
}

.clrWhite {
    color: aliceblue;
    text-decoration: none;
}

.clrWhite:hover {
    color: yellow;
    text-decoration: none;
}

.blackDarkerBg {
    background-color: black;
}

.uponclass {
    text-align: left;
}

.clrWhites {
    color: white;
}

.ylowclr {
    color: yellow;
}

.productFlexButton {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.clor {
    background-color: #c7dff7;
    color: black;
}

.clorW {
    border: none;
    outline: none;
}

.setInMediaUpDown {
    background-color: rgb(144, 210, 244);
}

.YellowPartCenter {
    background-color: rgb(228, 238, 243);
}

.card {
    border-radius: 10px;
}

.makePointer {
    cursor: pointer;
}

.no-drop {
    cursor: no-drop
}

.myCardImage:hover {
    transform: scale(1.1);
    transition: all 0.7s ease;
}

.myData {
    overflow: hidden;
}

.makeWidth {
    width: 60px;
    background-color: #7c4dff;
    height: 2px;
}

/* -------> quantity btn css */

.counter {
    background: rgb(64 71 74);
    color: white;
    margin-top: 5px;
    margin-bottom: 2px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
}

.counter input {
    width: 30px;
    border: 0;
    line-height: 25px;
    font-size: 15px;
    text-align: center;
    background: #212529;
    color: #fff;
    appearance: none;
    outline: 0;
}

.counter span {
    line-height: 25px;
    text-align: center;
    font-size: 25px;
    padding: 5px 5px 7px 5px;
    cursor: pointer;
    user-select: none;
    border: none;
    outline: none;
}

.setWidthWithMedia {
    width: 50%;
    margin: auto;
    border-radius: 15px;
    padding-left: 20px;
}

.up {
    margin-bottom: 2px;
}

.RemoveSpinner {
    text-align: center;
}

.RemoveSpinner::-webkit-inner-spin-button,
.RemoveSpinner::-webkit-outer-spin-button {
    display: none;
}

.GiveOnMargin {
    margin-left: 5px;
    margin-right: 5px;

}

.madeBtn {
    border: none;
    outline: none;
    background-color: aquamarine;
}

.form-control {
    border-bottom: 2px solid #eee !important;
    border: none;
    font-weight: 600
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #8bbafe;
    outline: 0;
    box-shadow: none;
    border-radius: 0px;
    border-bottom: 2px solid blue !important;
}



.inputbox {
    position: relative;
    margin-bottom: 20px;
    width: 100%
}

.inputbox span {
    position: absolute;
    top: 7px;
    left: 11px;
    transition: 0.5s
}

.inputbox i {
    position: absolute;
    top: 13px;
    right: 8px;
    transition: 0.5s;
    color: #3F51B5
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.inputbox input:focus~span {
    transform: translateX(-0px) translateY(-15px);
    font-size: 12px
}

.inputbox input:valid~span {
    transform: translateX(-0px) translateY(-15px);
    font-size: 12px
}

.card-blue {

    background-color: #492bc4;
}

.hightlight {

    background-color: #5737d9;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 14px;
}

.yellow {

    color: #fdcc49;
}

.decoration {

    text-decoration: none;
    font-size: 14px;
}

/* .btn-success {
    color: #fff;
    background-color: #492bc4;
    border-color:#492bc4;
} */



.decoration:hover {

    text-decoration: none;
    color: #fdcc49;
}

.AddCartButtonToggle {
    display: none;
}

.setThis {
    border-radius: 10px;
    color: #495057;
}




.imageSet {
    height: 250px;
}

.positionClass {
    position: absolute;
    left: 23px;
    top: 20px;
}

.HeigthWidthClass {
    height: 150px;
    width: 200px;
    margin: auto;
}

.CardBorder {
    border: none;
}












/* Responsive design to use Media Query */

@media only screen and (max-width: 768px) {

    .sss{
        display: flex;
        justify-content: center;
    }

    .onMarginautoMedia{
        margin: auto;
        display: inline;
    }

    .manageSpaceContainer {
        height: 250px;
    }

    .mediaClassForMargin {
        margin: 5px auto 5px auto;
    }

    .imageSet {
        height: 150px;
        max-width: 150px;
    }

    .makeMenuButtonWithMedia button {
        font-size: 10px;
    }

    .relPos {
        display: none;
    }

    .AddCartButtonToggle {
        display: block;
    }

    .OnmediaWidthSmall {
        width: 50%;
        margin: auto;
    }

    .counter {
        margin: auto;
        margin-top: 10px;
    }

    .onMediaCardCss {
        text-align: center;
    }

    .onMediMargin {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    body {
        background-color: lightblue;
    }

    .centerMedia {
        margin: auto;
        margin-bottom: 7px;
    }

    .mediaQueryImage {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .madeRelative,
    .YellowPartCenter {
        text-align: center;
    }

    .helpinmedia {
        font-size: 26px;
        font-weight: 700;
    }

    .innerBtnCss {
        font-size: 13px;
    }

    .centerStarmedia {
        width: 100%;
        margin: auto;
    }

    .onmediaBgChange {
        background-color: lightblue;
        font-size: 25px;
        color: black;
        text-align: center;
        width: 100%;
    }

    .forFlexColumndir {
        text-align: center;
    }

    .onMediaWidthChange {
        font-size: x-large;
        font-weight: 700;
    }

}

@media only screen and (min-width: 768px) and (max-width: 992px) {

   
    .relPos {
        display: none;
    }

    .AddCartButtonToggle {
        display: block;
    }

    .onMediaPrice {
        font-size: 15px;
        margin: auto;
    }


    .SetFontsizeMedia {
        font-size: 9px;
    }

    .OnmediaWidthSmall {
        width: 30%;
    }


    .myData {
        width: 40%;
    }

    .mediaQueryImage {
        border: 1px solid black;
    }
}


@media only screen and (min-width: 510px) and (max-width: 768px) {
    .productFlexButton .linkWithCssMedia {
        width: 100%;
    }

    .manageSpaceContainer{
        height: 250px;
    }

    .madeRelative .priceMedia {
        font-size: 15px;
    }

    .productFlexButton {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .centerMedia {
        font-size: 12px;
    }

    .description {
        font-size: 10px;
    }

    .change-data{
        margin: auto;
    }

    .myData {
        width: 70%;
    }

    .setWidthWithMedia {
        width: 70%;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .btnAround {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .manageSpaceContainer{
        height: 350px;
    }

    body {
        background-color: lightblue;
    }

    .myChange {
        width: 100%;
        margin-top: 5px;
    }

    .setWidthWithMedia {
        width: 80%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
    .centerStarmedia {
        width: 100%;
        margin: auto;
    }
}


@media only screen and (max-width: 395px) {

    th{
        font-size: 10px;
    }
    td{
        font-size: 8px;
    }

    .setWidthWithMedia {
        width: 100%;
    }

    .helpinmedia {  
        margin-bottom: 10px;
    }

    .z-media {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .thatsBrandName {
        font-size: 15px;
        font-weight: 700;
    }

    .clrWhites {
        font-size: 10px;
    }

    .setInMediaUpDown {
        text-align: center;
    }

    .onmediaBgChange {
        background-color: lightblue;
        font-size: 25px;
        color: black;
        text-align: center;
        width: 100%;
    }

    .forFlexColumndir {
        text-align: center;
    }

    .helpinmedia {
        font-size: 20px;
        font-weight: 700;
    }
}

::selection {
    color: white;
    background: black;
}

@media only screen and (min-width: 290px) and (max-width: 368px) {

    .tong h2{
        font-size: 15px;
    }

    .tong p{
        font-size: 13px;
    }

    .bodysecP{
        font-size: 10px;
    }

    .onMarginautoMedia{
        font-size: 15px;
        color:aqua ;
    }

    .mediaHomepageH4{
        font-size: larger;
    }
    .mediaHomepageH1{
        font-size: x-large;
    }
    .mediaHomepageH5{
        font-size: medium;
    }

    .HeigthWidthClass {
        height: 120px;
    }

    .mediaQueryImage {
        width: 250px;
    }

    .btnAround {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .btnAround .myChange {
        width: 100%;
        margin-bottom: 5px;
    }

    .OnmediaWidthSmall {
        width: 70%;
        margin: auto;
    }

    .manageSpaceContainer{
        height: 150px;
    }

}

@media only screen and (min-width: 345px) and (max-width: 510px) {

    .tong h2{
        font-size: 15px;
    }

    .tong p{
        font-size: 13px;
    }

    .bodysecP{
        font-size: 10px;
    }
    
    .mediaHomepageH4{
        font-size: larger;
    }
    .mediaHomepageH1{
        font-size: x-large;
    }
    .mediaHomepageH5{
        font-size: medium;
    }
    
    .OnPaddingRight {
        padding-left: 5px;
    }

    .myData {
        width: 100%;
    }

    .manageSpaceContainer{
        height: 200px;
    }

    .setWidthWithMedia {
        width: 100%;
    }
}

@media only screen and (max-width: 290px) {

    .bodysecP{
        font-size: 10px;
    }

    .tong h2{
        font-size: 11px;
    }

    .tong p{
        font-size: 9px;
    }

    th{
        font-size: 8px;
    }
    td{
        font-size: 8px;
    }

    .mediaHomepageH4{
        font-size: small;
    }
    .mediaHomepageH1{
        font-size: medium;
        font-size: small;
        color: #495057;
    }
    .mediaHomepageH5{
        font-size: 10px;
    }

    .manageSpaceContainer{
        height: 150px;
    }

    .HeigthWidthClass {
        height: 100px;
        width: 100px;
    }

    .btnAround {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .myChange {
        margin-top: 5px;
        width: 100%;
        font-size: 10px;
    }

    .categoryPrice {
        font-size: 13px;
    }

    .MakeMediaCssUsingHeaderCart {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .makeMenuButtonWithMedia button {
        height: 25px;
        font-size: 7px;
        display: flex;
        align-items: center;
        margin: 7px auto;
    }

    .UseCenter {
        display: none;
    }

    .productFlexButton .linkWithCssMedia {
        width: 100%;
    }

    .productFlexButton {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .centerStarmedia h4,
    h6 {
        font-size: 10px;
    }

    .madeRelative .centerMedia {
        font-size: 12px;
    }

    .madeRelative .description {
        font-size: 12px;
    }

    .mediaQueryImage {
        width: 150px;
    }

    .thatsBrandName {
        font-size: 10px;
        font-weight: 700;
    }

    .OnmediaWidthSmall {
        width: 100%;
        margin: auto;
    }

    .onMediaWidthChange {
        font-size: 15px;
    }

    .onmediaBgChange {
        font-size: 15px;
    }

    .acjustmedia .centerMedia {
        font-size: 10px;
    }

    .thatsBrandName,
    .nav-item {
        margin: auto;
    }

    .navbar-toggler {
        outline: 1px solid black;
        margin: auto;
    }

    .headings{
        font-size: 12px;
    }
}

@media only screen and (max-width: 190px) {

    .bodysecP{
        font-size: 8px;
    }

    .tong h2{
        font-size: 10px;
    }

    .tong p{
        font-size: 8px;
    }


    .manageSpaceContainer{
        height: 150px;
    }

    .mediaHomepageH4{
        font-size: small;
    }
    .mediaHomepageH1{
        font-size:x-small;
        color: #495057;
    }
    .mediaHomepageH5{
        font-size: 8px;
    }

    .categoryPrice {
        font-size: 10px;
    }

    .onmediaBgChange,
    .centerStarmedia h4 h6 {
        font-size: 8px;
    }

    .onMediaWidthChange {
        font-size: 10px;
    }

    .setWidthWithMedia {
        width: 100%;
    }

    .mediaQueryImage {
        width: 100px;
    }

    .acjustmedia .centerMedia {
        font-size: 7px;
    }

    .madeRelative .description {
        font-size: 10px;
    }
    
    .clrCss {
        width: 100px;
    }

    .priceMedia {
        font-size: 10px;
    }

    .z-media h1,
    h4 {
        font-size: 10px;
    }

    .thatsBrandName {
        font-size: 10px;
        font-weight: 700;
        margin: auto;
    }

    .navbar-toggler {
        outline: 1px solid black;
        margin: auto;
    }
}



/* loaders */

.containes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 50vh;
  overflow: hidden;
}

.item1-1 {
  width: 20px;
  height: 20px;
  background: #f583a1;
  border-radius: 50%;
  background-color: #eed968;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50%,
    75% {
    transform: scale(2.5);
  }
  78%, 100% {
    opacity: 0;
  }
}
.item1-1:before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #eed968;
  opacity: 0.7;
  animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
  animation-delay: 200ms;
  transition: 0.5s all ease;
  transform: scale(1);
}

.item2-2 {
  width: 20px;
  height: 20px;
  background: #f583a1;
  border-radius: 50%;
  background-color: #eece68;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50%,
    75% {
    transform: scale(2.5);
  }
  78%, 100% {
    opacity: 0;
  }
}
.item2-2:before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #eece68;
  opacity: 0.7;
  animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
  animation-delay: 400ms;
  transition: 0.5s all ease;
  transform: scale(1);
}

.item3-3 {
  width: 20px;
  height: 20px;
  background: #f583a1;
  border-radius: 50%;
  background-color: #eec368;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50%,
    75% {
    transform: scale(2.5);
  }
  78%, 100% {
    opacity: 0;
  }
}
.item3-3:before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #eec368;
  opacity: 0.7;
  animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
  animation-delay: 600ms;
  transition: 0.5s all ease;
  transform: scale(1);
}

.item4-4 {
  width: 20px;
  height: 20px;
  background: #f583a1;
  border-radius: 50%;
  background-color: #eead68;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50%,
    75% {
    transform: scale(2.5);
  }
  78%, 100% {
    opacity: 0;
  }
}
.item4-4:before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #eead68;
  opacity: 0.7;
  animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
  animation-delay: 800ms;
  transition: 0.5s all ease;
  transform: scale(1);
}

.item5-5 {
  width: 20px;
  height: 20px;
  background: #f583a1;
  border-radius: 50%;
  background-color: #ee8c68;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50%,
    75% {
    transform: scale(2.5);
  }
  78%, 100% {
    opacity: 0;
  }
}
.item5-5:before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ee8c68;
  opacity: 0.7;
  animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
  animation-delay: 1000ms;
  transition: 0.5s all ease;
  transform: scale(1);
}