.thatsBrandName {
    font-family: "Audiowide", sans-serif;
}

.NavbarInnerUl {
    font-family: "Trirong", serif;
}

.myCardImage {
    width: 100%;
    min-height: 250px;
    max-height: 250px;
}

.korimen {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.makingRoundedIcon {
    height: 200px;
    width: 200px;
    border-radius: 500px;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.makeAround {
    display: flex;
    justify-content: space-around;
}

.xcv {
    outline: 1px solid rgb(31, 30, 30);

}


.myChange:hover {
    background: #000;
    color: white;
}

.flex-end-classes{
    display: flex;
    align-items: center ;
    justify-content: flex-end;
}


.relPos{
    position: relative;
    display: inline-block;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
}

.CartSetting{
    border: 1px solid white;
    position: absolute;
    top:-2px;
    right: 3px;
    color: white;
    height: 20px;
    width: 20px;
    background: red;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.underbase{
    position: absolute;
    left: 0;    
}

.madeUpCartHeight{
    min-height: 200px;
    max-height: 200px;
}

.AlignCneter{
    display: flex;
    align-items: center;
}

.setImageAtCart{
    min-height: 150px;
    max-width: 150px;
}

.InCartInnerItem{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.titleFlex{
    height: 150px;
    align-items: center;
    justify-content: center;
    flex-direction:row;
}

.BtnFlex{
    height: 150px;
    align-items: center;
    justify-content: center;
    flex-direction:row;
}

.stringing{
    display: flex;
    align-items: center;
    justify-content: center;
}

.innerBtnCss{
    display: flex;
    justify-content: center;
}

.span{
    display: inline-block;
}

.flexContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clrCss{
    color: #000;
}

.forFlexColumndir{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.clrWhite{
    color: aliceblue;
    text-decoration: none;
}

.clrWhite:hover{
    color: yellow;
    text-decoration: none;
}

.blackDarkerBg{
    background-color: black;
}

.uponclass{
    text-align: left;
}

.clrWhites{
    color: white;
}

.ylowclr{
    color: yellow;
}

.productFlexButton{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* flex-direction: column; */
}